body {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: "main aside";
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.2);
	justify-content: center;
}
#button {
	width: 80px;
	height: 80px;
}